.logo.text{
    color:#ffffff;
    font:normal bold
}

.customer-input-group-addon{
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-right: none;
    border-radius: 0;
}

.customer-thead{
    color:#ffffff;
    background-color: #0fa2b1;
}

.customer-page{
    border: solid #8f8f8f 1px;
    width: 170px;
    height:30px;
    padding: 4px 10px;
}

.customer-page input{
     width:100px;
 }

.customer-page a{
   color:#8f8f8f;
}

.col-md-offset-9 span{

    color:#8f8f8f;
}

.chioce {
    color:#90c31f;
}

.claim-detail-nav {
    cursor:pointer;
    color:#777777;
}

.claim-detail-nav-active {
    cursor:pointer;
    color:#175981;
    text-decoration:underline;
}

.navbar-location {
  padding: 0px;
  border: 0px solid transparent;
  border-radius: 0px;
  background-color:#F3F3F3;
  height: 40px;
}

.navbar-location-href {
    padding-top: 10px;
}

.navbar-location-href > li {
  display: inline-block;
}

.navbar-location-href > li + li:before {
  color: #ccc;
  content: "";
}

.navbar-location-href > .active {
  color: #777;
}

@charset "utf-8";
/* CSS Document */
/*外层框架样式*/

body {
	min-width: 100%;
	height: auto;
}
.container-fluid {
	padding-left: 0!important;
}

#wrap {
	min-width: 100%;
	position: absolute;
	min-height: 100%;
	overflow: hidden;
}

.leftMeun {
	position: absolute;
	box-sizing: border-box;
	width: 160px;
	height: 100%;
	background: #175981 bottom;
}

#rightContent {
	/*position: absolute;*/
	box-sizing: border-box;
	float: left;
	box-sizing: border-box;
	padding-left: 180px;
	overflow-y: overlay;
	overflow-x: hidden;
	/*background-color: #eff3f6;*/
	clear: both;
	min-width: 100%;
	min-height: 500px;
}

/*左侧菜单栏*/

#logoDiv {
    padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 58px;
	background-color: #0fa2b1;
	font-size: 17px;
	color: #fff;
	vertical-align: bottom;
}

#userDiv {
    padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 30px;
	background-color: #0fa2b1;
	font-size: 17px;
	color: #fff;
	vertical-align: bottom;
}

.line-div {
	color: #F00;
	height: 5px;
}
.meun dl {
	padding: 0 10px;
}

.meun-item {
	line-height: 40px;
	height: 40px;
	color: #cae1ef;
	cursor: pointer;
    padding-left: 10px;
}

.meun-item a {
	color: #aab1b7;
	display: block;
}

.meun-item-active a {
	color: #101e38;
	display: block;
}

.meun-item img {
	padding-right: 8px;
	height: 20px;
}

.meun-item-active {
	background-color: #ffffff;
	color: #101e38;
}

.arrow, [class^="arrow-"]{display:inline-block;width:39px;height:56px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url("../img/arrows.png");background-position:14px 14px;background-repeat:no-repeat;margin-top:1px;}
.arrow{background-position:-6px -44px;}
.arrow-primary{background-position:-91px -44px;}
.arrow-info{background-position:-176px -44px;}
.arrow-success{background-position:-261px -44px;}
.arrow-warning{background-position:-345px -44px;}
.arrow-danger{background-position:-430px -44px;}
.arrow-inverse{background-position:-515px -44px;}
.arrow-large{height:91px;width:46px;background-position:-45px -8px;}
.arrow-primary-large{height:91px;width:46px;background-position:-130px -8px;}
.arrow-info-large{height:91px;width:46px;background-position:-215px -8px;}
.arrow-success-large{height:91px;width:46px;background-position:-300px -8px;}
.arrow-warning-large{height:91px;width:46px;background-position:-384px -8px;}
.arrow-danger-large{height:91px;width:46px;background-position:-469px -8px;}
.arrow-inverse-large{height:91px;width:46px;background-position:-554px -8px;}
