<nav class="navbar-default navbar-static-side" role="navigation"
     style="position: fixed;top:0;left: 0;overflow-y: auto;height: 100%;">
  <div>
    <nav class="sidebar-nav">
      <ul class="nav metismenu" id="side-menuTitle">
        <li class="nav-header">
          <div class="dropdown profile-element">
            <span style="margin-left: 56px;">
              <img alt="image" class="img-circle" src="../../../img/profile_small.jpg"/>
            </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <span class="clear">
                <span style="margin-top: 10px;text-align: center;" class="text-muted text-xs block">
                  Obama
                  <b class="caret"></b>
                </span>
              </span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li>
                <a style="cursor:pointer;">Profile</a>
              </li>
            </ul>
          </div>
          <div class="logo-element">
          </div>
        </li>
      </ul>

      <ul class="nav metismenu" id="menu" *ngFor="let menu of menus">
        <li class="active" (click)="changeMenuDisplay(menu)">
          <a aria-expanded="true" href="{{menu.url}}">
            <i class="fa fa-bar-chart-o"></i>
            <span class="nav-label">{{menu.name}}</span>
          </a>i
          <ul aria-expanded="true" class="nav nav-second-level collapse" style="display: block;"
              *ngFor="let childMenu of menu.childMenus">
            <li>
              <a href="{{childMenu.url}}">
                <span class="sidebar-nav-item-icon fa fa-code-fork"></span>
                {{childMenu.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</nav>
